{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Acessorios
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}
          
       <main>
        <h1>{{cont}}</h1>
        <div class="principal">
            <div class="card-group">
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-acessorios/balaclava-nike.jpg' %}">
                <div class="card-content">
                  <h2>Balaclava Nike Preta</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-acessorios/Bolça-adidas.jpg' %}">
                <div class="card-content">
                  <h2>Bolça Adidas</h2>
                  <p class="product-price">R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-acessorios/caneleira-nike-01.jpg' %}">
                <div class="card-content">
                  <h2>Caneleira Nike Preta</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-acessorios/caneleira-nike.jpg' %}">
                <div class="card-content">
                  <h2>Caneleira Nike Roxo</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>

            <div class="card-group">
              <div class="card">
                <img src="{% static 'img/img-acessorios/faixa-adidas.jpg' %}">
                <div class="card-content">
                  <h2>Faixa Adidas Preta</h2>
                  <p class="product-price">R$ 29,99 no Pix <br> ou 2X de R$: 14,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-acessorios/joelheira-volei-olympikus.jpg' %}">
                <div class="card-content">
                  <h2>Joelheira de Voleibol Olympikus</h2>
                  <p class="product-price">RR$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-acessorios/luva-gol-puma.jpg' %}">
                <div class="card-content">
                  <h2>Luva Goleiro Futebol Puma</h2>
                  <p class="product-price">R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-acessorios/meiao-nike-azul.jpg' %}">
                <div class="card-content">
                  <h2>Meião Nike Azul</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>

            <div class="card-group">
              <div class="card">
                <img src="{% static 'img/img-acessorios/munhequeira-fila.jpg' %}">
                <div class="card-content">
                  <h2>Munhequeira Fila</h2>
                  <p class="product-price">R$ 19,99 no Pix <br> ou 2X de R$: 9,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-acessorios/pochete-puma.jpg' %}">
                <div class="card-content">
                  <h2>Pochete Puma Preta</h2>
                  <p class="product-price">R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-acessorios/porta-acessorios-puma.jpg' %}">
                <div class="card-content">
                  <h2>Porta Acessórios Puma Preta</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-acessorios/testeira-nike.jpg' %}">
                <div class="card-content">
                  <h2>Testeira Nike</h2>
                  <p class="product-price">R$ 19,99 no Pix <br> ou 2X de R$: 9,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}