{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Adidas
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

      <main>
        <div class="principal">
            <div class="card-group">
                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-adidas/calça legue adidas.jpg' %}">
                  <h2>Calça Legue Feminina</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                 <!-- <p class="frete">Frete Grátis para todo o Brasil</p> -->
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/camisa-adidas-branca.jpg' %}">
                  <h2>Camisa Adidas Branca Masculina</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/camisa-adidas-preta.jpg' %}">
                  <h2>Camisa Adidas Preta Masculina</h2>
                  <p>R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/chuteira adidas.jpg' %}">
                  <h2>Tênis Adidas</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-adidas/luvas de goleira campo.jpg' %}">
                  <h2>Luva de Futebol de Campo</h2>
                  <p>R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/luvas de musculação.jpg' %}">
                  <h2>Luva de Musculação</h2>
                  <p>R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/meias cano alto adidas.jpg' %}">
                  <h2>Meia Adidas Cano Longo</h2>
                  <p>R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/moleton-adidas.jpg' %}">
                  <h2>Moleton Adidas Masculino</h2>
                  <p>R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-adidas/sandalia-adidas-branca.jpg'%}">
                  <h2>Sandália Adidas Branca</h2>
                  <p>R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/sandalia-adidas.jpg' %}">
                  <h2>Sandália Adidas Preta</h2>
                  <p>R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/tênis-adidas-preto.jpg' %}">
                  <h2>Tênis Adidas Preto</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-adidas/tênis-adidas.jpg' %}">
                  <h2>Tênis Adidas Azul</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}