{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Atendimento
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    .service-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

  .service-title{
    margin-top: 15px;
    margin-left: 20px;
}
.service-card-title{
    text-align: center;
    margin-top: 25px;
}

.container-service-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.container-service-card p{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
.button-service {
    padding: 8px 16px;
    background-color: #fd7e14;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.button-service:hover {
    background-color: #e9700e;
}
</style>
{% endblock 'head' %}

{% block 'body' %}

    <main class="service-main-container">
        <div>
            <h1 class="service-title"> <strong>Central de atendimento</strong></h1>
        </div>
            
        <div>
            <h3 class="service-card-title"> <strong>Fale com a gente</strong></h3>
        </div>
        <div class="service-card">
            <div class="container-service-card">
                <p> <strong> sportshaven@gmail.com</strong></p>
                <p><strong>Fale conosco por menssagem</strong></p>
                <a class="button-service" href="mailto:sportshaven@gmail.com" target="_blank">
                  <strong>Enviar Mensagem</strong>
                </a>
            </div>
            <div class="container-service-card">
                <p> <strong>Telefone e Whatsapp</strong></p>
                <p> <strong>11 3053-7500</strong></p>
                <a class="button-service" href="https://wa.me/?text=Olá,%20gostaria%20de%20saber%20sobre%20os%20seus%20serviços" target="_blank">
                  <strong>Enviar Mensagem</strong>
                </a>
            </div>
        </div>
    </main>

{% endblock 'body' %}