{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Fila
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

       <main>
        <div class="principal">
            <div class="card-group">
                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-fila/bermuda fila.jpg' %}">
                  <h2>Short Legue Fila Feminino</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <!-- <p class="frete">Frete Grátis para todo o Brasil</p> -->
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 09.jpg' %}">
                  <h2>Bolça  Fila</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 10.jpg' %}">
                  <h2>Mochila Fila</h2>
                  <p class="product-price">R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 11.jpg' %}">
                  <h2>Boné Fila</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 12.jpg' %}">
                  <h2>Bolça de Costa Fila</h2>
                  <p class="product-price">R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 13.jpg' %}">
                  <h2>Moleton Masculino Fila</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/imagem 14.jpg' %}">
                  <h2>Camisa Moleton Masculina Fila</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/calça-legue-fila.jpg' %}">
                  <h2>Calça Legue Fila Feminina</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-fila/camisa-fila-01.jpg' %}">
                  <h2>Camisa Fila Masculina Preta</h2>
                  <p class="product-price">R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/camisa-fila.jpg' %}">
                  <h2>Camisa Fila Masculina Azul</h2>
                  <p class="product-price">R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/tênis-fila-preto.jpg' %}">
                  <h2>Tênis Fila Preto</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-fila/tênis-fila.jpg' %}">
                  <h2>Tênis Fila Branco</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}