{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Masculino
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}
          
      <main>
        <!-- Teste Sessions
         <h1>Bem-vindo ao seu perfil, {{ user_name }}!</h1> -->
        <div class="principal">
            <div class="card-group">
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img_masculino/bola-futebol.jpg' %}">
                <div class="card-content">
                  <h2>Bola de Futebol</h2>
                  <p class="product-price">R$ 219,99 no Pix <br> ou 3X de R$: 83,33</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img_masculino/bola-volei.jpg' %}">
                <div class="card-content">
                  <h2>Bola de Vôlei</h2>
                  <p class="product-price">R$ 119,99 no Pix <br> ou 3X de R$: 50,00</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img_masculino/bone-nike.jpg' %}">
                <div class="card-content">
                  <h2>Boné Nike</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img_masculino/camisa-ciclismo.jpg' %}" alt="Camisa de Ciclismo Masculina">
                <div class="card-content">
                  <h2>Camisa de Ciclismo Masculina</h2>
                  <p class="product-price">R$ 119,99 no Pix <br> ou 3X de R$: 39,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>

            <div class="card-group">
              
              <div class="card">
                <img src="{% static 'img/img_masculino/camisa-fla.jpg' %}">
                <div class="card-content">
                  <h2>Camisa Clube de Regata do Flamengo</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 2X de R$: 39,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img_masculino/camisa-nike.jpg' %}">
                <div class="card-content">
                  <h2>Camisa Nike Preta</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img_masculino/meia.jpg' %}">
                <div class="card-content">
                  <h2>Meia Ciclismo</h2>
                  <p class="product-price">RR$ 29,99 no Pix <br> ou 2X de R$: 14,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
                
              <div class="card">
                <img src="{% static 'img/img_masculino/moleton-adidas.jpg' %}">
                <div class="card-content">
                  <h2>Moleton Adidas Preto</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>
            
            <div class="card-group">
              <div class="card">
                <img src="{% static 'img/img_masculino/relogio.jpg' %}">
                <div class="card-content">
                  <h2>Relógio Smartwatch</h2>
                  <p class="product-price">R$ 89,99 no Pix <br> ou 3X de R$: 29,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img_masculino/sapatilha-ciclismo.jpg' %}">
                <div class="card-content">
                  <h2>Sapatilha Ciclismo Masculina</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img_masculino/short-ciclismo.jpg' %}">
                <div class="card-content">
                  <h2>Short Ciclismo Masculino</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img_masculino/short-dri-fit.jpg' %}">
                <div class="card-content">
                  <h2>Calção Dri Fit Corrida Masculino</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 2X de R$: 39,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}