{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Nike
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

      <main>
        <div class="principal">
            <div class="card-group">
                <div class="card">
                  <div class="card-content">
                    <p class="product-price">Frete Grátis para todo o Brasil</p>
                  </div>
                  <img src="{% static 'img/img-nike/calça-nike.jpg' %}">
                  <div class="card-content">
                    <h2>Calça Nike Preta</h2>
                    <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  </div>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-nike/camisa-nike.jpg' %}">
                  <h2>Camisa Nike Preta</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-nike/bone-nike.jpg' %}">
                  <h2>Boné Nike</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-nike/bola-futebol.jpg' %}">
                  <h2>Bola de Futeboll de Campo Nike</h2>
                  <p class="product-price">R$ 149,99 no Pix <br> ou 3X de R$: 49,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-nike/chuteira  de campo nike mercurial.jpg' %}">
                  <h2>Chuteira de Campo Nike Mercurial </h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/tênis-nike 01.jpg' %}">
                  <h2>Tênis Nike Rosa com Branco</h2>
                  <p class="product-price">R$ 199,99 no Pix <br> ou 3X de R$: 66,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/tênis-nike 02.jpg' %}">
                  <h2>Tênis Nike Preto com Branco</h2>
                  <p class="product-price">R$ 199,99 no Pix <br> ou 3X de R$: 66,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/meia-nike.jpg' %}">
                  <h2>Meia Nike Cano Longo</h2>
                  <p class="product-price">R$ 39,99 no Pix <br> ou 3X de R$: 13,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-nike/camisa-longa-nike.jpg' %}">
                  <h2>Camisa Manga Longa Nike </h2>
                  <p class="product-price">R$ 89,99 no Pix <br> ou 3X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/produto-01.webp' %}">
                  <h2>Tênis Nike Cinza</h2>
                  <p class="product-price">R$ 199,99 no Pix <br> ou 3X de R$: 66,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/short-dri-fit.jpg' %}">
                  <h2>Short Nike Dri fit Preto</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 3X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-nike/tenis-nike  03.jpg' %}">
                  <h2>Tênis Nike Verde com Branco</h2>
                  <p class="product-price">R$ 199,99 no Pix <br> ou 3X de R$: 66,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}