{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Olympikus
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

       <main>
        <div class="principal">
            <div class="card-group">
              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-olympikus/bone-azul-marinho.jpg' %}">
                <div class="card-content">
                  <h2>Boné Olympikus Azul Marinho</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-olympikus/tenis-olympikus.jpg' %}">
                <div class="card-content">
                  <h2>Tênis Olympikus</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-olympikus/camisa-dri-longa.jpg' %}">
                <div class="card-content">
                  <h2>Camisa Dri fit Olympikus Manga Longa</h2>
                  <p class="product-price">R$ 69,99 no Pix <br> ou 2X de R$: 34,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                </div>
                <img src="{% static 'img/img-olympikus/camisa-preta.jpg' %}">
                <div class="card-content">
                  <h2>Camisa Dri fit Olympikus Manga Longa</h2>
                  <p class="product-price">R$ 69,99 no Pix <br> ou 2X de R$: 34,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>

            <div class="card-group">

              <div class="card">
                <img src="{% static 'img/img-olympikus/meia-cano-curto.jpg' %}">
                <div class="card-content">
                  <h2>Meia Cano Curto</h2>
                  <p class="product-price">R$ 29,99 no Pix <br> ou 2X de R$: 14,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-olympikus/meia-cano-longo.jpg' %}">
                <div class="card-content">
                  <h2>Meia Cano Longo</h2>
                  <p class="product-price">R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-olympikus/sandalia-olympikus.jpg' %}">
                <div class="card-content">
                  <h2>Sandália Olympikus</h2>
                  <p class="product-price">R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>

              <div class="card">
                <img src="{% static 'img/img-olympikus/short-treino-feminino-2.jpg' %}">
                <div class="card-content">
                  <h2>Short Corrida Feminino</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>

            <div class="card-group">
              
              <div class="card">
                <img src="{% static 'img/img-olympikus/short-treino-feminino.jpg' %}">
                <div class="card-content">
                  <h2>Short Corrida Feminino</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-olympikus/short-treino.jpg' %}">
                <div class="card-content">
                  <h2>Short Treino Masculino</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-olympikus/tenis-olympikus-2.jpg' %}">
                <div class="card-content">
                  <h2>Short Treino Masculino</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
              
              <div class="card">
                <img src="{% static 'img/img-olympikus/bone-preto.jpg' %}">
                <div class="card-content">
                  <h2>Boné Olympikus Preto</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
              </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}