{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Puma
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

       <main>
        <div class="principal">
            <div class="card-group">
                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-puma/bluza femenina puma.jpg' %}">
                  <div class="card-content">
                    <h2>Blusa da Puma</h2>
                    <p class="product-price">R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  </div>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/camisa-manga-longa-puma.jpg' %}">
                  <h2>Camisa Manga Longa Puma Masculina</h2>
                  <p class="product-price">R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/camisa-puma-azul.jpg' %}">
                  <h2>Camisa Puma Azul</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/chuteira-puma.jpg' %}">
                  <h2>Chuteira Puma</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-puma/imagem 06.jpg' %}">
                  <h2>Short Saia Dri fit Puma</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/imagem 07.jpg' %}">
                  <h2>Calça Legue Puma</h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/imagem 08.jpg' %}">
                  <h2>Camisa Regata Puma Branca</h2>
                  <p class="product-price">R$ 39,99 no Pix <br> ou 2X de R$: 19,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/legue esportiva puma.jpg' %}">
                  <h2>Calça Legue Puma </h2>
                  <p class="product-price">R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-puma/short-puma-azul.jpg' %}">
                  <h2>Short Puma Azul</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/sandalia-puma.jpg' %}">
                  <h2>Sandália Puma</h2>
                  <p class="product-price">R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/short-puma.jpg' %}">
                  <h2>Short Puma Preto</h2>
                  <p class="product-price">R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-puma/tenis-puma.jpg' %}">
                  <h2>Tênis Puma</h2>
                  <p class="product-price">R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}