{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %}
Sport Haven | Puma
{% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock 'head' %}

{% block 'body' %}

       <main>
        <div class="principal">
            <div class="card-group">
                <div class="card">
                  <p class="product-price">Frete Grátis para todo o Brasil</p>
                  <img src="{% static 'img/img-reebok/bola-basquete.jpg' %}">
                  <h2>Bola Basketball</h2>
                  <p>R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <!-- <p class="frete">Frete Grátis para todo o Brasil</p> -->
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/bolsa-esportiva reebook.jpg' %}">
                  <h2>Bolça Reebok</h2>
                  <p>R$ 79,99 no Pix <br> ou 3X de R$: 26,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/bolsa.jpg' %}">
                  <h2>Bolça de Praia Feminina</h2>
                  <p>R$ 49,99 no Pix <br> ou 2X de R$: 24,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/bone-branco.jpg' %}">
                  <h2>Boné Reebok Branco</h2>
                  <p>R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-reebok/bone-preto.jpg' %}">
                  <h2>Boné Reebok Preto</h2>
                  <p>R$ 59,99 no Pix <br> ou 2X de R$: 29,99</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/camisa-branca.jpg' %}">
                  <h2>Camisa Reebok Branca</h2>
                  <p>R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/camisa-preta.jpg' %}">
                  <h2>Camisa Reebok Preta</h2>
                  <p>R$ 69,99 no Pix <br> ou 3X de R$: 23,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/sandalia-branca.jpg' %}">
                  <h2>Sandália Reebok Branca</h2>
                  <p>R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                  <img src="{% static 'img/img-reebok/sandalia-preta.jpg' %}">
                  <h2>Sandália Reebok Preta</h2>
                  <p>R$ 99,99 no Pix <br> ou 3X de R$: 33,33</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/tenis-02.jpg' %}">
                  <h2>Tênis Reebok Azul Marinho</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/tenis-reebok.jpg' %}">
                  <h2>Tênis Reebok Feminino</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>

                <div class="card">
                  <img src="{% static 'img/img-reebok/tenis.jpg' %}">
                  <h2>Tênis Reebok</h2>
                  <p>R$ 229,99 no Pix <br> ou 3X de R$: 76,66</p>
                  <p class="frete">Frete Grátis para todo o Brasil</p>
                  <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
        </div>
      </main>

{% endblock 'body' %}