<!-- saved_items.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Items</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    
    <h1>Cadastre seu item!</h1>
    
    <!-- Formulário para adicionar novos itens -->
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
    <a href="{% url 'item_cadastrado' %}">Meus itens!</a>

    <!-- <h1>Saved Items</h1>
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item.name }}</strong><br>
                {{ item.description }}<br>
                <em>Saved on: {{ item.created_at|date:"F j, Y, g:i a" }}</em>
            </li>
        {% empty %}
            <li>No items saved yet.</li>
        {% endfor %}
    </ul> -->

   
</body>
</html>
